<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8"/>
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'blog/style/style.css' %}" type="text/css"/>
        <title>About Alex</title>
    </head>

    <body>
		<div id="container">
			<div id="header">
				<h1>About Alex</h1>
			</div>
				<div id="blog">
					<p><img src="{% static 'blog/images/alex.jpg' %}" alt="Alex" width=200 class='center'></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta ante arcu, ultrices malesuada metus tincidunt a. Nunc quis consequat justo, et efficitur felis. 
					Nulla eu venenatis nisi. In odio magna, ornare at lacinia non, vestibulum molestie nunc. Morbi laoreet mauris sed ante hendrerit vestibulum. In et nibh quis leo ornare laoreet. 
					Nunc nisl nunc, tempus sit amet orci quis, eleifend egestas mauris. Nullam non sagittis tellus. Nulla posuere orci nec quam tincidunt pharetra. In sodales enim mauris, sed ultricies ligula egestas eu. 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta ante arcu, ultrices malesuada metus tincidunt a. Nunc quis consequat justo, et efficitur felis. Nulla eu venenatis nisi. 
					In odio magna, ornare at lacinia non, vestibulum molestie nunc. Morbi laoreet mauris sed ante hendrerit vestibulum. In et nibh quis leo ornare laoreet. 
					Nunc nisl nunc, tempus sit amet orci quis, eleifend egestas mauris. Nullam non sagittis tellus. Nulla posuere orci nec quam tincidunt pharetra. In sodales enim mauris, sed ultricies ligula egestas eu. </p>
										
					<p>
							<img src="{% static 'blog/images/chicken.jpg' %}" alt="Grilled Chicken" height='200'>
					
							<img src="{% static 'blog/images/cat.jpg' %}" alt="Cute Kitten" height='275'>
						
							<img src="{% static 'blog/images/iceland.jpg' %}" alt="A trip to Iceland" height='200'>
					</p>
				</div>
				<div class="nav">
					<h2>Links</h2>
					<ul>
						<li><a href="{% url 'blog:index' %}">Home</a></li>
						<li><a href="{% url 'blog:tips' %}">Tips</a></li>						
						<li><a href="{% url 'blog:about' %}">About</a></li>
						<li><a href="{% url 'blog:archive' %}">Archive</a></li>
					</ul>
					<p></p>
					<p>{{ myDate|date:"DATE_FORMAT" }} </p>
					<p>{{ myDate|time:"h:i:s A" }}</p>
				</div>
		</div>
		
		


	
    </body>
</html>
