<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8"/>
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'blog/style/style.css' %}" type="text/css"/>
        <title>{{ blogPost.title }}</title>
    </head>

	<!-- Blog post detail view -->
    <body>
		<div id="container">
			<div id="header">
				<h1>Detail View</h1>
			
			<!-- /#Post and commnet form -->
			</div>
				<div id="blog">
					<h3>{{ blogPost.title }}</h3>
					<h5>By {{ blogPost.author }}</h5>
					<p>Posted {{blogPost.posted }}</p>
					<p>{{ blogPost.content }}</p>
					
					<!-- New comment form -->
					<h4>Leave a comment</h4>
					<form action="{% url 'blog:detail' blogPost.id %}" method="post">
					{% csrf_token %}
					{{ form.as_p }}
					<input type='submit' value='Comment'>
					</form>
					<!-- /#comment form -->
					
					<!-- Show comments -->
					<br>
					<h4>Comments</h4>
					{% if get_comment %}
						<ul>
						{% for comment in get_comment %}
						<!-- print blog title and content -->
							<h5>Comment by {{ comment.commenter }} at {{comment.posted }}</h5>
							<p>{{ comment }}</p>
						{% endfor %}
						</ul>
					{% else %}
						<p>No comments are available.</p>
					{% endif %}
				</div>

				<!-- Nav -->
				<div class="nav">
					<h2>Links</h2>
					<ul>
						<li><a id='links' href="{% url 'blog:index' %}">Home</a></li>
						<li><a id='links' href="{% url 'blog:tips' %}">Tips</a></li>						
						<li><a id='links' href="{% url 'blog:about' %}">About</a></li>
						<li><a id='links' href="{% url 'blog:archive' %}">Archive</a></li>
					</ul>
					<p></p>
					<p>{{ myDate|date:"DATE_FORMAT" }} </p>
					<p>{{ myDate|time:"h:i:s A" }}</p>
				</div>
				<!-- /#Nav -->
		</div>
		<!-- /#Blog post detail view -->
		
    </body>
</html>
