<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8"/>
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'blog/style/style.css' %}" type="text/css"/>
        <title> </title>
    </head>

    <body>
		<div id="container">
			<div id="header">
				<h1> </h1>
			</div>
				<div id="blog">
					
				</div>
				<div class="nav">
					<h2>Links</h2>
					<ul>
						<li><a href="{% url 'blog:index' %}">Home</a></li>
						<li><a href="{% url 'blog:tips' %}">Tips</a></li>						
						<li><a href="{% url 'blog:about' %}">About</a></li>
					</ul>
					<p></p>
					<p>{{ myDate|date:"DATE_FORMAT" }} </p>
					<p>{{ myDate|time:"h:i:s A" }}</p>
				</div>
		</div>
		
		


	
    </body>
</html>
