<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8"/>
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'blog/style/style.css' %}" type="text/css"/>
        <title>Alex's Tips</title>
    </head>

    <body>
		<div id="container">
			<div id="header">
				<h1>Tech Tips from Alex</h1>
			</div>
				<div id="blog">
					
					<p id="tipFormat">
						<h3>Bash Command Tip</h3>
						<ol>
							<li>cd</li>
							<li>This command allows you to change the directory that you are accessing.</li>
							<li><code>cd cs2610-price-alex-assn0</code></li>
						</ol>
					</p>
					<p id="tipFormat">
						<h3>Git Command Tip</h3>
						<ol>
							<li>status</li>
							<li>This command will display the status of your repository, meaning you can see which files have been added to be updated on your next commit.</li>
							<li><code>git status</code></li>
						</ol>
					</p>
					<p id="tipFormat">
						<h3>HTML Tag Tip</h3>
						<ol>
							<li>title</li>
							<li>The title tag changes what your browser displays at the top of the browswer window and on the tab of the webpage.</li>
							<li><code>&lt;title&gt; Alex's Blog &lt;/title&gt;</code></li>
						</ol>
					</p>
					<p id="tipFormat">
						<h3>CSS Concept Tip</h3>
						<ol>
							<li>#id</li>
							<li>This allows you to specify which part of your html to modify by using the name of the "div".</li>
							<li><code>#container{}</code></li>
						</ol>
					</p>
				</div>
				<div class="nav">
					<h2>Links</h2>
					<ul>
						<li><a href="{% url 'blog:index' %}">Home</a></li>
						<li><a href="{% url 'blog:tips' %}">Tips</a></li>						
						<li><a href="{% url 'blog:about' %}">About</a></li>
						<li><a href="{% url 'blog:archive' %}">Archive</a></li>
					</ul>
					<p></p>
					<p>{{ myDate|date:"DATE_FORMAT" }} </p>
					<p>{{ myDate|time:"h:i:s A" }}</p>
				</div>
		</div>
		
		
		


	
    </body>
</html>
