html{
	overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#container{
	width: 1200px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

#header{
	padding: 5px;
	color: navy;
	text-align: center;
}

#blog{
	line-height: 1.5;
	width: 1000px;
	float: right;
	text-align: left;
}

.nav{
	font-family: "Lucida Console";
	font-style: italic;
	font-size: large;
	line-height: 1.5;
	width: 200px;
	float: left;
}

.pictureFormat{
	margin: auto;
}
#tipFormat{
	text-align: left;
	float: left;
}
a:hover {
	font-weight: bold;
	color: black;
}
a {
	color: black;
}